//
// 	BORDER RADIUS
//------------------------------------

//---- 	Buttons
@if $button__border-radius == none {
  $button__border-radius : 0;
}
@if $button__border-radius == full {
  $button__border-radius : 30px;
}

//---- 	Input fields
@if $input_border-radius == none {
  $form-element-input__border-radius  : 0;
  $input-text__border-radius          : $form-element-input__border-radius;
  $input-qty__border-radius           : $form-element-input__border-radius;
  $select__border-radius              : $form-element-input__border-radius;
  $textarea__border-radius            : $form-element-input__border-radius;
}
@if $input_border-radius == full {
  $form-element-input__border-radius  : $form-element-input__height / 2;
  $input-text__border-radius          : $form-element-input__border-radius;
  $input-qty__border-radius           : $form-element-input__border-radius * 2;
  $select__border-radius              : $form-element-input__border-radius;
  $textarea__border-radius            : $form-element-input__border-radius;
} 
@else {
  $form-element-input__border-radius  : $input_border-radius;
  $input-text__border-radius          : $input_border-radius;
  $input-qty__border-radius           : $input_border-radius;
  $select__border-radius              : $input_border-radius;
  $textarea__border-radius            : $input_border-radius;
}

//
// 	NAV
//------------------------------------

//---- 	Nav active border
@if ($nav-item-active-border == false) {
  $nav-item-active-border-color : transparent;
  $nav-item-active-border-width : 0;
  $nav-item-active-border-style : none;
}

@if ($submenu-item-border-active == false) {
  $submenu-item-border-active   : 0;
}


//
// 	Box sizing
//------------------------------------
@mixin lib-vendor-box-sizing(
  $_value: border-box
) {
  box-sizing: $_value;
}
