//
//  Address fields
//  ---------------------------------------------

fieldset.field.additional-address {
  .control {
    margin-top: 6px;
  }
  .field {
    label.label {
      margin-bottom: 8px;
      display: inline-block;
      font-size: 1.4rem;
    }
    &.street {
      float: left;
      width: calc(100% - 210px);
    }
    &.house-no {
      float: left;
      width: 90px;
      margin-left: 15px;
    }
    &.ext {
      float: left;
      width: 90px;
      margin-left: 15px;
    }
    &._required {
      label:after {
        content: '*';
        color: $color-red10;
        font-size: 1.2rem;
        margin: 0 0 0 4.5px;
      }
    }
  } 
}