.block-social-links {
  margin-top: 20px;
  a.social-link {
    display: inline-block;
    background: rgba($theme-text-light, 15%);
    width: $input-text__height * 1.2;
    height: $input-text__height * 1.2;
    line-height: $input-text__height * 1.2;
    text-align: center;
    font-size: 20px;
    margin-right: $indent__s;
    color: $theme-text-dark;
    transition: all 0.1s ease-in-out;
    border-radius: $social_border-radius;
    &:hover {
      color: $theme-text-light;
      &.social- {
        &facebook {
          background: $c-facebook;
        }
        &twitter {
          background: $c-twitter;
        }
        &instagram {
          background: $c-instagram;
        }
        &youtube {
          background: $c-youtube;
        }
        &linkedin {
          background: $c-linkedin;
        }
      }
    }
  }
}

@include min-screen($screen__m) {
  .block-social-links {
    margin-top: 0;
    a.social-link {
      margin-left: $indent__s;
      margin-right: 0;
    }
  }
}
