@if $sticky-header == true {
  @include min-screen($screen__m) {
    .page-header,
    .nav-sections {
      position: fixed;
      width: 100%;
      z-index: 10;
      transition: $sticky-shrink__transition
    }
    .page-header {
      background: $header__background-color;
      top: 0;
      z-index: 20;
      .header.content {
        transition: $sticky-shrink__transition
      }
      &.shrink {
        top: -40px;
        .header.content {
          padding: 20px;
        }
      }
    }
    .nav-sections {
      top: $sticky-header__height;
      &.shrink {
        top: $sticky-header__height - $sticky-shrink__height - 20px;
      }
      + .usp-wrapper {
        margin-top: 0 !important;
      }
    }
    .page-wrapper {
      padding-top: $sticky-header__height + $sticky-nav__height;
    }
    .checkout-index-index {
      .page-wrapper {
        padding-top: $sticky-header__height;
      }
    }
  }
}
