a.action.primary,
button {
  @include lib-css(border-radius, $button__border-radius);
}
button {
  &:active {
    @include lib-css(box-shadow, $button__shadow);
  }
}
a.action.primary {
  @include lib-link-as-button();
}
.action.primary {
  @include lib-css(transition, all ease .25s);
  @include lib-button-primary(
    $_button-background         : $theme-primary-color,
    $_button-border             : 1px solid $theme-primary-color,
    $_button-background-hover   : $theme-primary-dark-color,
    $_button-border-hover       : 1px solid $theme-primary-dark-color,
    $_button-background-active  : $theme-primary-dark-color,
    $_button-border-active      : 1px solid $theme-primary-dark-color
  );
  &.tocart {
    @include lib-button-primary(
      $_button-color              : $button-addcart_color,
      $_button-background         : $button-addcart_background,
      $_button-border             : $button-addcart_border,
      $_button-color-hover        : $button-addcart_hover_color,
      $_button-background-hover   : $button-addcart_hover_background,
      $_button-border-hover       : $button-addcart_hover_border,
      $_button-color-active       : $button-addcart_active_color,
      $_button-background-active  : $button-addcart_active_background,
      $_button-border-active      : $button-addcart_active_border
    );
  }
}
