//
//  Styles Extends
//  _____________________________________________

//
//  List default styles reset
//  ---------------------------------------------

.abs-reset-list {
    @include lib-list-reset-styles();
    & > li {
        margin: 0;
    }
}

//
//  Link as a button
//  ---------------------------------------------

.abs-action-link-button {
  @include lib-css(transition, all ease .2s);
  @include lib-button(
    $_button-color              : $button-secondary_color,
    $_button-background         : $button-secondary_background,
    $_button-border             : $button-secondary_border,

    $_button-color-hover        : $button-secondary_hover_color,
    $_button-background-hover   : $button-secondary_hover_background,
    $_button-border-hover       : $button-secondary_hover_border,

    $_button-color-active       : $button-secondary_active_color,
    $_button-background-active  : $button-secondary_active_background,
    $_button-border-active      : $button-secondary_active_border
  );
  @include lib-link-as-button();
  @include lib-css(border-radius, $button__border-radius / 2);
}

@mixin gn-button-primary() {
  @include lib-css(transition, all ease .25s);
  @include lib-button-primary(
          $_button-background         : $theme-primary-color,
          $_button-border             : 1px solid $theme-primary-color,
          $_button-background-hover   : $theme-primary-dark-color,
          $_button-border-hover       : 1px solid $theme-primary-dark-color,
          $_button-background-active  : $theme-primary-dark-color,
          $_button-border-active      : 1px solid $theme-primary-dark-color
  );
}

@mixin gn-button-secondary() {
  @include lib-css(transition, all ease .2s);
  @include lib-button(
    $_button-color              : $button-secondary_color,
    $_button-background         : $button-secondary_background,
    $_button-border             : $button-secondary_border,

    $_button-color-hover        : $button-secondary_hover_color,
    $_button-background-hover   : $button-secondary_hover_background,
    $_button-border-hover       : $button-secondary_hover_border,

    $_button-color-active       : $button-secondary_active_color,
    $_button-background-active  : $button-secondary_active_background,
    $_button-border-active      : $button-secondary_active_border
  );
  @include lib-link-as-button();
  @include lib-css(border-radius, $button__border-radius / 2);
}

//
//  Product options list
//  ---------------------------------------------

@mixin abs-product-options-list() {
    dt {
        clear: left;
        float: left;
        margin: 0 $indent__s $indent__xs 0;

        &:after {
            content: ': ';
        }
    }

    dd {
        display: inline-block;
        float: left;
        margin: 0 0 $indent__xs;
    }
}


.abs-product-options-list {
    @include abs-product-options-list();
}

@include min-screen($screen__m) {
    .abs-product-options-list-desktop {
        @include abs-product-options-list();
    }
}

//
//  Button reset width, floats, margins
//  ---------------------------------------------

@mixin abs-button-responsive() {
    @include lib-button-responsive();
};

.abs-button-responsive {
    @include abs-button-responsive();
}

@include min-screen($screen__m) {
    .abs-button-desktop {
        width: auto;
    }
}

@include max-screen($screen__m) {
    .abs-button-responsive-smaller {
        @include abs-button-responsive();
    }
}

//
//  Blocks in 2 columns
//  ---------------------------------------------

@mixin abs-blocks-2columns() {
    width: 48.8%;

    &:nth-child(odd) {
        clear: left;
        float: left;
    }

    &:nth-child(even) {
        float: right;
    }
}

@include min-screen($screen__m) {
    .abs-blocks-2columns {
        @include abs-blocks-2columns();
    }
}

@include min-screen($screen__s) {
    .abs-blocks-2columns-s {
        @include abs-blocks-2columns();
    }
}

//
//  Reset image alignment in container
//  ---------------------------------------------

.abs-reset-image-wrapper {
    height: auto;
    padding: 0 !important;

    .product-image-photo {
        position: static;
    }
}

//
//  Adaptive images
//  ---------------------------------------------

.abs-adaptive-images {
    display: block;
    height: auto;
    max-width: 100%;
}

.abs-adaptive-images-centered {
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
}

//
//  Title for login blocks
//  ---------------------------------------------

.abs-login-block-title {
    strong {
        font-weight: 500;
    }

    @include lib-font-size(18);
    border-bottom: 1px solid $secondary__color;
    margin-bottom: 15px;
    padding-bottom: 12px;
}

//
//  Abstract block title
//  ---------------------------------------------

.abs-block-title {
    > strong {
        @include lib-heading(h3);
    }

    margin-bottom: 15px;
}

//
//  Account blocks
//  ---------------------------------------------

.abs-account-blocks {
    .block-title {
        @extend .abs-block-title;
        > .action {
            margin-left: 15px;
        }
    }

    .box-title {
        display: inline-block;
        margin: 0 0 $indent__xs;

        > span {
            @include lib-heading(h4);
        }

        > .action {
            font-weight: 400;
            margin-left: $indent__s;
        }
    }

    .block-content {
        p:last-child {
            margin-bottom: 0;
        }

        .box {
            margin-bottom: $indent__base;
        }
    }
}

//
//  Simple Dropdown
//  ---------------------------------------------

.abs-dropdown-simple {
    @include lib-dropdown(
        $_dropdown-list-item-padding : 5px 5px 5px 23px,
        $_dropdown-list-min-width    : 200px,
        $_icon-font-margin           : 0 0 0 5px,
        $_icon-font-vertical-align   : middle
    );
}

//
//  Input quantity
//  ---------------------------------------------

.abs-input-qty {
    text-align: center;
    width: 47px;
}

//
//  Marging for blocks & widgets
//  ---------------------------------------------

.abs-margin-for-blocks-and-widgets {
    margin-bottom: $indent__xl;
}

//
//  Remove button for blocks
//  ---------------------------------------------

.abs-remove-button-for-blocks {
    @include lib-icon-font(
        $icon-remove,
        $_icon-font-size         : 26px,
        $_icon-font-line-height  : 15px,
        $_icon-font-text-hide    : true,
        $_icon-font-color        : $color-gray19,
        $_icon-font-color-hover  : $color-gray19,
        $_icon-font-color-active : $color-gray19
    );
}

//
//  Product link
//  ---------------------------------------------

.abs-product-link {
    font-weight: $font-weight__regular;

    > a {
        @include lib-link(
            $_link-color                   : $product-name-link__color,
            $_link-text-decoration         : $product-name-link__text-decoration,
            $_link-color-visited           : $product-name-link__color__visited,
            $_link-text-decoration-visited : $product-name-link__text-decoration__visited,
            $_link-color-hover             : $product-name-link__color__hover,
            $_link-text-decoration-hover   : $product-name-link__text-decoration__hover,
            $_link-color-active            : $product-name-link__color__active,
            $_link-text-decoration-active  : $product-name-link__text-decoration__active
        );
    }
}

//
//  Reset left margin
//  ---------------------------------------------

@mixin abs-reset-left-margin() {
    margin-left: 0;
}

.abs-reset-left-margin {
    @include abs-reset-left-margin();
}

@include min-screen($screen__m) {
    .abs-reset-left-margin-desktop {
        @include abs-reset-left-margin();
    }
}

@include min-screen($screen__s) {
    .abs-reset-left-margin-desktop-s {
        @include abs-reset-left-margin();
    }
}

//
//  Action with icon remove with text
//  ---------------------------------------------

.abs-action-remove {
    @extend .abs-action-button-as-link;
    left: $indent__s;
    margin-left: 70%;
    position: absolute;
    top: 31px;
    width: auto;
}

//
//  Action with icon remove with text for desktop
//  ---------------------------------------------

@include min-screen($screen__m) {
    @if $form-field-type-label-inline__width != false and $form-field-type-label-inline__width != '' {
        .abs-action-remove-desktop {
            margin-left: $form-field-type-label-inline__width + 50%;
            top: 6px;
        }
    }
}

//
//  Add Recipient
//  ---------------------------------------------

.abs-add-fields {
    .fieldset {
        margin-bottom: 50px;

        .field {
            &:not(.choice) {
                .control {
                    width: 70%;
                }
            }
        }

        .actions-toolbar {
            &:not(:first-child) {
                @extend .abs-add-clearfix;

                > .secondary {
                    .action {
                        &.add {
                            margin-top: $indent__l;
                        }
                    }

                    float: left;
                }
            }
        }

        .fields {
            .actions-toolbar {
                margin: 0;
            }
        }
    }

    .message {
        &.notice {
            margin: $indent__l 0 0;
        }
    }

    .additional {
        margin-top: 55px;
        position: relative;
    }

    .action {
        &.remove {
            @extend .abs-action-remove;
        }
    }
}

//
//  Add Recipient for desktop
//  ---------------------------------------------

@include min-screen($screen__m) {
    .abs-add-fields-desktop {
        .fieldset {
            .field {
                &:not(.choice) {
                    .control {
                        width: 50%;
                    }
                }
            }

            .additional {
                .action {
                    &.remove {
                        @extend .abs-action-remove-desktop;
                    }
                }
            }
        }
    }
}

//
//  Margin for forms
//  ---------------------------------------------

@mixin abs-margin-for-forms-desktop {
    @include lib-css(margin-left, $form-field-type-label-inline__width);
}

@include min-screen($screen__m) {
    .abs-margin-for-forms-desktop {
        @include abs-margin-for-forms-desktop();
    }
}

@include min-screen($screen__s) {
    .abs-margin-for-forms-desktop-s {
        @include abs-margin-for-forms-desktop();
    }
}

//
//  Visibility hidden / show visibility hidden
//  ---------------------------------------------

.abs-hidden {
    @include lib-visibility-hidden();
}

//
//  Visually hidden / show visually hidden
//  ---------------------------------------------

@mixin abs-visually-hidden {
    @include lib-visually-hidden();
}

.abs-visually-hidden {
    @include abs-visually-hidden();
}

@include max-screen($screen__s) {
    .abs-visually-hidden-mobile {
        @include abs-visually-hidden();
    }
}

@include max-screen($screen__m) {
    .abs-visually-hidden-mobile-m {
        @include abs-visually-hidden();
    }
}

@include min-screen($screen__s) {
    .abs-visually-hidden-desktop-s {
        @include abs-visually-hidden();
    }
}

@include min-screen($screen__m) {
    .abs-visually-hidden-desktop {
        @include abs-visually-hidden();
    }
}

//
//  Visually hidden reset
//  ---------------------------------------------

.abs-visually-hidden-reset {
    @include lib-visually-hidden-reset();
}

//
//  Clearfix
//  ---------------------------------------------

@mixin abs-add-clearfix {
    @include lib-clearfix();
}

.abs-add-clearfix {
    @include abs-add-clearfix();
}

@include min-screen($screen__m) {
    .abs-add-clearfix-desktop {
        @include abs-add-clearfix();
    }
}

@include min-screen($screen__s) {
    .abs-add-clearfix-desktop-s {
        @include abs-add-clearfix();
    }
}

@include max-screen($screen__s) {
    .abs-add-clearfix-mobile {
        @include abs-add-clearfix();
    }
}

@include max-screen($screen__m) {
    .abs-add-clearfix-mobile-m {
        @include abs-add-clearfix();
    }
}

//
//  Box-sizing
//  ---------------------------------------------

@mixin abs-add-box-sizing {
    box-sizing: border-box;
}

.abs-add-box-sizing {
    @include abs-add-box-sizing();
}

@include min-screen($screen__m) {
    .abs-add-box-sizing-desktop {
        @include abs-add-box-sizing();
    }
}

@include min-screen($screen__s) {
    .abs-add-box-sizing-desktop-s {
        @include abs-add-box-sizing();
    }
}

@include min-screen($screen__m) {
    .abs-add-box-sizing-desktop-m {
        @include abs-add-box-sizing();
    }
}

//
//  Revert field type
//  ---------------------------------------------

@include min-screen($screen__m) {
    .abs-revert-field-type-desktop {
        .fieldset {
            > .field,
            .fields > .field {
                @include lib-form-field-type-revert($_type: block);

                &:not(:first-child):last-of-type {
                    margin-bottom: 0;
                }
            }
        }
    }
}

//
//  Settings icons
//  ---------------------------------------------

.abs-navigation-icon {
    @include lib-icon-font(
        $_icon-font-content     : $icon-down,
        $_icon-font-size        : 34px,
        $_icon-font-line-height : 1.2,
        $_icon-font-position    : after,
        $_icon-font-display     : block
    );

    &:after {
        position: absolute;
        right: $indent__xs;
        top: 0;
    }
}

//
//  Split button
//  ---------------------------------------------

.abs-split-button {
    @include lib-dropdown-split(
        $_options-selector                        : '.items',
        $_dropdown-split-button-border-radius-fix : true
    );
    vertical-align: middle;
}

//
//  Action addto
//  ---------------------------------------------

.abs-action-addto-product {
    @extend .abs-action-link-button;
    @include lib-button-s();
}

.abs-actions-addto-gridlist {
    @include lib-icon-font(
        $_icon-font-content        : '',
        $_icon-font-size           : 29px,
        $_icon-font-color          : $addto-color,
        $_icon-font-color-hover    : $theme-primary-color,
        $_icon-font-text-hide      : true,
        $_icon-font-vertical-align : middle,
        $_icon-font-line-height    :  24px
    );
}

//
//  Large button
//  ---------------------------------------------

.abs-button-l {
    @include lib-button-l();
}

//
//  Button as a link
//  ---------------------------------------------

.abs-action-button-as-link {
    @include lib-button-as-link($_margin: false);
    border-radius: 0;
    font-size: inherit;
    font-weight: $font-weight__regular;

    &:active,
    &:not(:focus) {
        box-shadow: none;
    }
}

//
//  Button revert secondary color
//  ---------------------------------------------

.abs-revert-secondary-color {
    // @include lib-button-revert-secondary-color();
    @include gn-button-secondary();
}

//
//  Button revert secondary size
//  ---------------------------------------------

.abs-revert-secondary-size {
    @include lib-button-revert-secondary-size();
}

//
//  Box-tocart block
//  ---------------------------------------------

.abs-box-tocart {
    margin: $indent__s 0;
}

//
//  Excl/Incl tax
//  ---------------------------------------------

.abs-adjustment-incl-excl-tax {
    .price-including-tax,
    .price-excluding-tax,
    .weee {
        @include lib-font-size(14);
        display: inline-block;
        white-space: nowrap;
    }

    .price-including-tax + .price-excluding-tax {
        display: inline-block;
        @include lib-font-size(11);

        &:before {
            content: '('attr(data-label)': ';
        }

        &:after {
            content: ')';
        }
    }
}

//
//  Cart tax total
//  ---------------------------------------------

.abs-tax-total {
    cursor: pointer;
    padding-right: 12px;
    position: relative;
    @include lib-icon-font(
        $icon-down,
        $_icon-font-size        : 26px,
        $_icon-font-line-height : 10px,
        $_icon-font-margin      : 3px 0 0 0,
        $_icon-font-position    : after
    );

    &:after {
        position: absolute;
        right: -$indent__s;
        top: 3px;
    }

    &-expanded {
        @include lib-icon-font-symbol(
            $_icon-font-content  : $icon-up,
            $_icon-font-position : after
        );
    }
}

.abs-tax-total-expanded {
    @include lib-icon-font-symbol(
        $_icon-font-content  : $icon-up,
        $_icon-font-position : after
    );
}

//
//  Checkout shipping methods title
//  ---------------------------------------------

.abs-methods-shipping-title {
    @include lib-font-size(14);
    font-weight: $font-weight__bold;
    margin: 0 0 15px;
}

//
//  Checkout order review
//  ---------------------------------------------

@include max-screen($screen__s) {
    .abs-checkout-order-review {
        tbody tr {
            &:not(:last-child) {
                border-bottom: $border-width__base solid $border-color__base;
            }

            @extend .abs-add-clearfix-mobile;

            .col {
                &.item {
                    &:before {
                        display: none;
                    }
                }

                &.qty,
                &.price,
                &.subtotal {
                    box-sizing: border-box;
                    float: left;
                    text-align: center;
                    white-space: nowrap;
                    width: 33%;

                    &:before {
                        content: attr(data-th) ':';
                        display: block;
                        font-weight: $font-weight__bold;
                        padding-bottom: $indent__s;
                    }
                }
            }

            .product-item-name {
                margin: 0;
            }
        }
    }
}

//
//  Add colon
//  ---------------------------------------------

.abs-colon {
    &:after {
        content: ': ';
    }
}

//
//  Icon - create add
//  ---------------------------------------------

.abs-icon-add {
    @include lib-icon-font(
        $_icon-font-content        : $icon-expand,
        $_icon-font-size           : 10px,
        $_icon-font-line-height    : 10px,
        $_icon-font-vertical-align : middle
    );
}

@include max-screen($screen__m) {
    .abs-icon-add-mobile {
        @include lib-icon-font(
            $_icon-font-content        : $icon-expand,
            $_icon-font-size           : 10px,
            $_icon-font-line-height    : 10px,
            $_icon-font-vertical-align : middle,
            $_icon-font-margin         : 0 5px 0 0,
            $_icon-font-display        : block
        );
    }
}

//
//  Dropdown items - create new
//  ---------------------------------------------

.abs-dropdown-items-new {
    .items .item:last-child {
        &:hover {
            @include lib-css(background, $dropdown-list-item__hover);
        }
    }

    .action.new {
        @extend .abs-icon-add;
        &:before {
            margin-left: -17px;
            margin-right: $indent__xs;
        }
    }
}

//
//  Abstract toggle title block
//  ---------------------------------------------

@include max-screen($screen__m) {
    .abs-toggling-title-mobile {
        border-bottom: $border-width__base solid $border-color__base;
        border-top: $border-width__base solid $border-color__base;
        cursor: pointer;
        margin-bottom: 0;
        padding: $indent__s $indent__xl $indent__s $layout__width-xs-indent;
        position: relative;

        @include lib-icon-font(
            $_icon-font-content   : $icon-down,
            $_icon-font-size      : 28px,
            $_icon-font-text-hide : false,
            $_icon-font-position  : after,
            $_icon-font-display   : block
        );

        &:after {
            position: absolute;
            right: $indent__s;
            top: 0;
        }

        &.active {
            @include lib-icon-font-symbol(
                $_icon-font-content  : $icon-up,
                $_icon-font-position : after
            );
        }
    }
}

//
//  Abstract no display
//  ---------------------------------------------

@mixin abs-no-display {
    display: none;
}

.abs-no-display {
    @include abs-no-display();
}

@include max-screen($screen__s) {
    .abs-no-display-s {
        @include abs-no-display();
    }
}

@include min-screen($screen__m) {
    .abs-no-display-desktop {
        @include abs-no-display();
    }
}

//
//  Status
//  ---------------------------------------------

.abs-status {
    display: inline-block;
    margin-bottom: $indent__base;
}

//
//  Pager toolbar for non-catalog pages mobile
//  ---------------------------------------------

@include max-screen($screen__m) {
    .abs-pager-toolbar-mobile {
        .toolbar-amount,
        .limiter,
        .pages {
            float: none;
            margin-bottom: $indent__m;
        }
    }
}

//
//  Pager toolbar for non-catalog pages mobile
//  ---------------------------------------------

@include max-screen($screen__s) {
    .abs-pager-toolbar-mobile-s {
        .toolbar-amount,
        .limiter,
        .pages {
            margin-bottom: $indent__m;
        }
    }
}

//
//  Pager toolbar for non-catalog pages desktop
//  ---------------------------------------------

@include min-screen($screen__m) {
    .abs-pager-toolbar {
        @extend .abs-add-clearfix-desktop;
        margin-bottom: $indent__base;
        position: relative;

        .limiter {
            float: right;
            position: relative;
            z-index: 1;
        }

        .toolbar-amount {
            float: left;
            line-height: normal;
            padding: 7px 0 0;
            position: relative;
            z-index: 1;
        }

        .pages {
            position: absolute;
            width: 100%;
            z-index: 0;
        }
    }
}

//
//  Items counter in blocks
//  ---------------------------------------------

.abs-block-items-counter {
    @include lib-css(color, $primary__color__lighter);
    @include lib-font-size(12px);
    white-space: nowrap;
}

//
//  Shopping cart items
//  ---------------------------------------------

.abs-shopping-cart-items {
    .action {
        &.continue {
            border-radius: 3px;
            font-weight: $font-weight__bold;
            @include lib-link-as-button();
            @include lib-button(
                $_button-padding               : 7px 15px 7px 0,
                $_button-icon-use              : true,
                $_button-font-content          : $icon-prev,
                $_button-icon-font-size        : 32px,
                $_button-icon-font-line-height : 16px,
                $_button-icon-font-position    : before
            );
            @include gn-button-secondary();

            &:active {
                @include lib-css(box-shadow, $button__shadow);
            }
        }

        &.update,
        &.clear {
            @include gn-button-primary();
        }
        
        &.update {
            padding-left: $indent__xs;
        }
    }
}

@include max-screen($screen__m) {
    .abs-shopping-cart-items-mobile {
        .actions {
            text-align: center;
        }

        .action {
            &.update,
            &.continue,
            &.clear {
                margin: 0 auto $indent__s;
            }

            &.update,
            &.clear {
                display: block;
            }
        }
    }
}

@include min-screen($screen__m) {
    .abs-shopping-cart-items-desktop {
        float: left;
        position: relative;
        width: 73%;

        .actions {
            text-align: right;
        }

        .action {
            &.clear,
            &.update {
                margin-left: $indent__s;
            }

            &.continue {
                float: left;
            }
        }
    }
}

//
//  Form Field Date
//  ---------------------------------------------

.abs-field-date {
    .control {
        @extend .abs-add-box-sizing;
        position: relative;
    }

    input {
        @extend .abs-field-date-input;
    }
}

//
//  Form Field Date Input
//  ---------------------------------------------

.abs-field-date-input {
    @include lib-css(margin-right, $indent__s);
    width: calc(100% - #{$icon-calendar__font-size + $indent__s});
}

//
//  Form Field Tooltip
//  ---------------------------------------------

.abs-field-tooltip {
    @extend .abs-add-box-sizing;
    position: relative;

    input {
        @include lib-css(margin-right, $indent__s);
        width: calc(100% - #{$checkout-tooltip-icon__font-size + $indent__s + $indent__xs});
    }
}

//
//  Checkout Tooltip Content (position: top)
//  ---------------------------------------------

@mixin abs-checkout-tooltip-content-position-top {
    @include lib-css(right, $checkout-tooltip-content-mobile__right);
    @include lib-css(top, $checkout-tooltip-content-mobile__top);
    left: auto;

    &:before,
    &:after {
        @include lib-arrow(
            $_position : top,
            $_size     : $checkout-tooltip-icon-arrow__font-size,
            $_color    : $checkout-tooltip-content__background-color
        );
        @include lib-css(margin-top, $checkout-tooltip-icon-arrow__left);
        @include lib-css(right, $indent__s);
        left: auto;
        top: 0;
    }

    &:before {
        @include lib-css(border-bottom-color, $checkout-tooltip-content__border-color);
    }

    &:after {
        @include lib-css(border-bottom-color, $checkout-tooltip-content__background-color);
        top: 1px;
    }
}

.abs-checkout-tooltip-content-position-top {
    @include abs-checkout-tooltip-content-position-top();
}

@include max-screen($screen__m) {
    .abs-checkout-tooltip-content-position-top-mobile {
        @include abs-checkout-tooltip-content-position-top();
    }
}

//
//  Checkout title
//  ---------------------------------------------

.abs-checkout-title {
    @include lib-css(border-bottom, $checkout-step-title__border);
    @include lib-css(padding-bottom, $checkout-step-title__padding);
    @include lib-typography(
        $_font-size   : $checkout-step-title__font-size,
        $_font-weight : $checkout-step-title__font-weight,
        $_font-family : false,
        $_font-style  : false,
        $_line-height : false
    );
}

//
//  Shopping cart sidebar and checkout sidebar totals
//  ---------------------------------------------

.abs-sidebar-totals {
    .mark {
        font-weight: $font-weight__regular;
        padding-left: 4px;

        strong {
            font-weight: $font-weight__regular;
        }
    }

    .amount {
        padding-right: 4px;
        text-align: right;
        white-space: nowrap;

        strong {
            font-weight: $font-weight__regular;
        }
    }

    .grand {
        .mark,
        .amount {
            border-top: 1px solid $color-gray-darken1;
            font-weight: $font-weight__bold;
            padding-bottom: $indent__base;
        }

        .amount {
            padding-right: 4px;
            text-align: right;

            strong {
                font-weight: $font-weight__bold;
            }
        }
    }

    .msrp {
        margin-bottom: $indent__s;
    }

    .totals-tax {
        &-summary {
            .mark,
            .amount {
                @include lib-css(border-top, $border-width__base solid $border-color__base);
                @include lib-css(border-bottom, $border-width__base solid $border-color__base);
                cursor: pointer;
            }

            .amount .price {
                @include lib-icon-font(
                    $icon-down,
                    $_icon-font-size      : 30px,
                    $_icon-font-text-hide : true,
                    $_icon-font-position  : after,
                    $_icon-font-display   : block
                );
                padding-right: $indent__m;
                position: relative;

                &:after {
                    position: absolute;
                    right: -5px;
                    top: -12px;
                }
            }

            &.expanded {
                .mark,
                .amount {
                    border-bottom: 0;
                }

                .amount .price {
                    @include lib-icon-font-symbol(
                        $_icon-font-content  : $icon-up,
                        $_icon-font-position : after
                    );
                }
            }
        }

        &-details {
            display: none;
            @include lib-css(border-bottom, $border-width__base solid $border-color__base);

            &.shown {
                display: table-row;
            }
        }
    }

    .table-caption {
        @extend .abs-no-display;
    }
}

//
//  Shopping cart and payment discount codes block
//  ---------------------------------------------

.abs-discount-block {
    > .title {
        border-top: $border-width__base solid $border-color__base;
        cursor: pointer;
        font-weight: $font-weight__semibold;
        @include lib-icon-font(
            $_icon-font-content  : $icon-down,
            $_icon-font-size     : 30px,
            $_icon-font-position : after,
            $_icon-font-display  : block
        );
        margin-bottom: 0;
        overflow: hidden;
        padding: 7px $indent__l 7px $indent__xs;
        position: relative;

        &:after {
            position: absolute;
            right: -5px;
            top: -5px;
        }

        strong {
            .column.main & {
                @include lib-font-size(18);
                font-weight: $font-weight__regular;
            }
        }
    }

    > .content {
        display: none;
    }

    &.active {
        > .title {
            @include lib-icon-font-symbol(
                $_icon-font-content  : $icon-prev,
                $_icon-font-position : after
            );
        }

        > .content {
            display: block;
        }
    }
}
