//
// 	Grid layout
//------------------------------------

// Set grid columns including mobile media queries
.page-layout-1column {
  .columns {
    @include gn-grid-1column();
  }
}
.page-layout-2columns-left {
  .columns {
    @include gn-grid-2columns($_side : left);
  }
}
.page-layout-2columns-right {
  .columns {
    @include gn-grid-2columns($_side : right);
  }
}

.page-layout-3columns {
  .columns {
    @include gn-grid-3columns();
  }
}

//
//  Mobile
//  _____________________________________________

@include max-screen($screen__m) {
  .navigation,
  .breadcrumbs,
  .page-header .header.panel,
  .header.content,
  .footer.content,
  .footer-upper-wrapper,
  .footer-bottom-wrapper,
  .page-main,
  .page-wrapper > .widget,
  .page-wrapper > .page-bottom,
  .block.category.event,
  .top-container {
    padding-left: $layout__width-xs-indent;
    padding-right: $layout__width-xs-indent;
  }

  .page-main {
    .account &,
    .cms-privacy-policy & {
      padding-top: 41px;
      position: relative;
    }
  }
}

//
//  Desktop
//  _____________________________________________

@include min-screen($screen__m) {
  .navigation,
  .breadcrumbs,
  .page-header .header.panel,
  .header.content,
  .footer.content,
  .footer-upper-wrapper,
  .footer-bottom-wrapper,
  .page-wrapper > .widget,
  .page-wrapper > .page-bottom,
  .block.category.event,
  .top-container,
  .page-main {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: $layout__max-width;
    padding-left: $layout-indent__width;
    padding-right: $layout-indent__width;
    width: auto;
  }

  .page-main {
    width: 100%;
    margin-top: $indent__base;
    margin-bottom: $indent__xl;

    .ie9 & {
      width: auto;
    }
  }

  .panel.header {
    padding: 10px 20px;
  }
}
