.pages {
  @include lib-pager(
    $_pager-font-size:      1.6rem,
    $_pager-current-color:  $theme-primary-color,
    $_pager-color:          $primary__color,
    $_pager-color-visited:  $primary__color,
    $_pager-color-hover:    $theme-primary-color,

    $_pager-action-border:          none,
    $_pager-action-color:           $primary__color,
    $_pager-action-color-visited:   $primary__color,
    $_pager-action-color-hover:     $theme-primary-color,

    $_pager-item-padding:           0 6px,
    $_pager-icon-font-size:         16px
  );

  .action {
    width: 34px;
    &.next,
    &.previous {
      &:before {
        font-weight: $font-weight__bold;
      }
    }
  }
}
