.is-ie {
  .page-products,
  .page-layout-1column,
  .page-layout-3columns,
  .page-products.page-layout-1column,
  .page-products.page-layout-3columns {
    .products-grid {
      .product-items {
        @include ie-product-grid();
      }
    }
    .products-upsell,
    .products-related,
    .products-crosssell {
      .product-items {
        @include ie-product-grid(
          $_product-grid_min-width  : 250px
        );
      }
    }
  }
}
