.block.filter {
  margin-bottom: $indent__xl;

  .filter-title {
    margin-bottom: $indent__base;

    strong {
      font-size: 18px;
    }
  }
  .title {
    strong {
      text-transform: uppercase;
      letter-spacing: 0.3pt;
    }
  }
  .options {
    .items {
      .item {
        margin-bottom: 3px;
        padding-right: 40px;
        display: flex;
        justify-content: space-between;
        a {
          color: $theme-text-dark;
          display: inline;
          &:hover {
            color: $theme-primary-color;
            text-decoration: none;
          }
        }
        .count {
          @include lib-css(color, $text__color__muted);
          float: right;
          font-size: 1.2rem;

          &:before {
            content: '(';
          }

          &:after {
            content: ')';
          }
        }
      }
    }
  }
}

.block-subtitle {
  display: inline-block;
  font-weight: $font-weight__bold;
  font-size: 1.6rem;
  margin: 0 0 $indent__s;
  word-break: break-all;
  text-transform: uppercase;
  letter-spacing: 0.3pt;
}

.filter-current {
  .item {
    margin-bottom: $indent__s;
  }

  .filter-label {
    display: block;
    font-weight: $font-weight__bold;
    font-size: 1.6rem;
    margin-bottom: $indent__s;

    &:after {
      content: ':';
    }
  }

  + .filter-actions {
    margin-bottom: $indent__l;      
  }
}

.filter-clear {
  font-weight: $font-weight__bold;
}


.filter-options-content {
  .filter-count-label {
    @extend .abs-visually-hidden;
  }
}

.filter-options {
  margin: 0;

  .filter-options-title {
    @include lib-heading(h4);
    margin: 0 0 $indent__s;
    word-break: break-all;
    text-transform: uppercase;
    letter-spacing: 0.3pt;
  }

  .filter-options-content {
    margin: 0 0 $indent__m;

    .item {
      margin-left: 2px;
      margin-bottom: 3px;
      padding-right: 40px;
      a {
        color: $theme-text-dark;
        display: inline;
        &:hover {
          text-decoration: none;
          color: $theme-primary-color;
        }
      }
      ul {
        .item {
          padding-right: 0;
        }
      }
    }
  }

  .count {
    @include lib-css(color, $text__color__muted);
    float: right;
    font-size: 1.2rem;

    &:before {
      content: '(';
    }

    &:after {
      content: ')';
    }
  }
}

.items {
  @extend .abs-reset-list;
}

.filtered {
  .items {
    margin: 15px 0;
  }

  .item {
    margin-bottom: 6px;
    padding-left: 22px;
    position: relative;

    .label {
      font-weight: $font-weight__bold;
    }

    .action.remove {
      @extend .abs-remove-button-for-blocks;
      left: -6px;
      position: absolute;
      top: 0;
    }
  }

  & + .actions {
    margin-bottom: 35px;
  }
}

//
//  Mobile
//  _____________________________________________

@include max-screen($screen__m) {
  .page-with-filter {
    .columns {
      .sidebar-main {
        @include lib-vendor-prefix-order(0);
      }
    }
  }

  .filter-options {
    .filter-options-content {
      .item {
        padding-right: 10px;
      }
    }
  }
}
