<div class="sidebar-toggle-button" data-mage-init='{"Magento_Catalog/js/sidebar-toggle": {}}'>
  <i class="fal fa-filter"></i>
</div>
<div class="sidebar-toggle-close">
  <i class="fal fa-times"></i>
</div>