//
// 	THEME Colors
//  ------------------------------------
$c-orange             : #F9703E;
$c-orange-light       : lighten($c-orange, 5%); //#f49d1a
$c-orange-dark        : darken($c-orange, 5%); //#b66d00

$c-red                : #e53e3e;
$c-red-light          : lighten($c-red, 5%);
$c-red-dark           : darken($c-red, 5%);

$c-green              : #48bb78;
$c-green-light        : lighten($c-green, 5%);
$c-green-dark         : darken($c-green, 5%);

$c-blue               : #3182Ce;
$c-blue-dark          : darken($color-blue1, 4%);
$c-blue-darker        : darken($color-blue1, 8%);
$c-blue-light         : lighten($color-blue1, 8%);

$c-faded-blue         : #263238;
$c-faded-blue-light   : lighten($c-faded-blue, 5%);
$c-faded-blue-dark    : darken($c-faded-blue, 5%);

$c-white              : #ffffff;
$c-white-smoke        : #f2f2f2;
$c-gray-light         : #e2e2e2;
$c-gray-middle        : #c6c6c6;
$c-gray               : #6b6b6b;
$c-gray-medium-light  : #545454;
$c-gray-medium        : #333333;
$c-gray-dark          : #111111;
$c-black              : #000000;

$c-facebook           : #3b5999;
$c-twitter            : #55acee;
$c-instagram          : #e4405f;
$c-linkedin           : #0077b5;
$c-youtube            : #cd201f;
