//
// 	COLORS
//------------------------------------

$theme-primary-color          : $c-orange;
$theme-primary-dark-color     : $c-orange-dark;
$theme-primary-light-color    : $c-orange-light;

$border-color                 : $c-gray-light;
$product_border-color         : $c-white-smoke;

$theme-secondary-color        : $c-faded-blue;
$theme-secondary-dark-color   : $c-faded-blue-dark;
$theme-secondary-light-color  : $c-faded-blue-light;

$theme-text-light             : $c-white;
$theme-text-dark              : $c-gray-dark;

$text__color__muted           : $c-gray-middle;
$text__color                  : $theme-text-dark;

$header__background-color     : $c-white;
$page__background-color       : $c-white;
$panel__background-color      : $c-white;
$toolbar__background-color    : $c-white-smoke;

//
// 	BORDER RADIUS
//------------------------------------
$input-qty__border-radius   : 0 !default;

// Use the following settings to set border-radius
// - none = 0
// - full = 30px /- enough for the default button/input height
// - custom px

//---- 	all buttons
$button__border-radius      : 4px;

//---- 	all form fields
$input_border-radius        : 4px;

//---- 	cart count indicator
$cart-counter_border-radius : 20px;

//
// 	Base URL
//------------------------------------
$baseUrl  : "{{base_url_path}}/" !default;

//
// 	BUTTONS
//------------------------------------

// add-to-cart knop
$button-addcart_color               : $c-white;
$button-addcart_background          : $c-green;
$button-addcart_border              : 1px solid $c-green;

$button-addcart_hover_color         : $c-white;
$button-addcart_hover_background    : $c-green-light;
$button-addcart_hover_border        : 1px solid $c-green-light;

$button-addcart_active_color        : $c-white;
$button-addcart_active_background   : $c-green-dark;
$button-addcart_active_border       : 1px solid $c-green-dark;

// secondary
$button-secondary_color             : $theme-secondary-light-color;
$button-secondary_background        : $theme-text-light;
$button-secondary_border            : 1px solid $theme-secondary-light-color;

$button-secondary_hover_color       : $theme-text-light;
$button-secondary_hover_background  : $theme-secondary-color;
$button-secondary_hover_border      : 1px solid $theme-secondary-color;

$button-secondary_active_color      : $theme-text-light;
$button-secondary_active_background : $theme-secondary-dark-color;
$button-secondary_active_border     : 1px solid $theme-secondary-dark-color;


//
// 	Header
//------------------------------------
// The JS functions react to this setting
$sticky-header              : true; // [true] for sticky, [false] for non-sticky
$sticky-header__height      : 146px; // .page-header height
$sticky-nav__height         : 53px; // .nav-sections height
$sticky-shrink__height      : 40px; // .panel.wrapper height
$sticky-shrink__transition  : all 0.3s ease-in-out;


//
// 	NAVIGATION DESKTOP
//------------------------------------

// Top level nav
$nav-section-background       : $theme-secondary-color;
$nav-bar-background-color     : $theme-secondary-color;
$nav-item-color               : $theme-text-light;
$nav-item-background          : inherit;
$nav-item-color-hover         : $theme-primary-color;
$nav-item-background-hover    : $theme-text-light;
$nav-item-active-border       : false;
$nav-item-active-border-color : $theme-primary-color;
$nav-item-active-border-width : 0 0 3px;
$nav-item-active-border-style : solid;

// Submenu
$submenu-background-color       : $theme-secondary-dark-color;
$submenu-border-color           : $theme-secondary-dark-color;
$submenu-item-color             : $theme-text-light;
$submenu-item-background        : inherit;
$submenu-item-color-hover       : $theme-text-light;
$submenu-item-background-hover  : $theme-secondary-light-color;
$submenu-item-border-active     : false; // false or all border-width values like: 0 0 0 3px

//
// 	NAVIGATION MOBILE
//------------------------------------

$mobile-nav-styling   : false;

//
// 	LAYOUT
//------------------------------------

//---- 	Product layout
$product-page_image-width          : 3fr;
$product-page_info-width           : 2fr;
$product-page_image-width_tablet   : 1fr;
$product-page_info-width_tablet    : 1fr;

//---- 	Cart layout
$cart_content_width           : 3fr;
$cart_sidebar_width           : 1fr;
$cart_content_width_tablet    : 4fr;
$cart_sidebar_width_tablet    : 2fr;

//
// 	Footer
//------------------------------------
$footer__background-color         : $c-white-smoke;
$footer-upper__background-color   : $c-gray-light;
$footer-bottom__background-color  : $c-white;

//
// 	Social Links
//------------------------------------
$social_border-radius : 5px;

//
//  Minicart
//  ---------------------------------------------

$minicart-icons-color                                         : $theme-text-light;
$minicart-icons-color-hover                                   : $theme-text-light;

//
//  Layered Navigation
//  ---------------------------------------------

$filter__color                    : $theme-text-dark;
$filter__color-hover              : $theme-primary-color;
$filter__color-visited            : $theme-text-dark;
$filter__checkbox-size            : 15px;
$filter__checkbox-active-size     : 11px;
$filter__checkbox-border          : 1px solid #cccccc;
$filter__checkbox-border-radius   : $input_border-radius;
$filter__color-show-more          : $theme-primary-color;

//
//  Product Grid Settings
//  ---------------------------------------------

$ie-grid-area-list: a  b  c  d e  f  g  h i  j  k  l;
