//---- 	Basics
$primary__color          : $color-gray20 !default; // #333
$primary__color__dark    : darken($primary__color, 35%) !default; // #000
$primary__color__darker  : darken($primary__color, 13.5%) !default; // #111
$primary__color__lighter : lighten($primary__color, 29%) !default; // #7d7d7d
$primary__color__light   : lighten($primary__color, 45%) !default; // #a6a6a6

$secondary__color        : $color-gray91 !default;
$secondary__color__light : lighten($secondary__color, 5%) !default;

//---- 	Links
$link__color                    : $theme-primary-color;
$link__text-decoration          : none !default;

$link__visited__color           : $link__color;
$link__visited__text-decoration : none !default;

$link__hover__color             : $theme-primary-light-color;
$link__hover__text-decoration   : underline !default;

$link__active__color            : $theme-primary-dark-color;
$link__active__text-decoration  : underline !default;
