//
//  Shopping cart
//  ---------------------------------------------

//  Summary block
.cart-summary {
  @extend .abs-add-box-sizing;
  @extend .abs-adjustment-incl-excl-tax;
  @include lib-css(background, $sidebar__background-color);
  margin-bottom: $indent__m;
  padding: 1px 15px $indent__m;

  > .title {
    display: block;
    font-size: 1.6rem;
    padding: 14px 0 10px;
    font-weight: $font-weight__bold;
    color: $c-gray-medium;
    text-transform: uppercase;
  }

  .block {
    @extend .abs-discount-block;
    margin-bottom: 0;

    > .title {
      strong {
        .column.main & {
          font-size: 1.4rem;
          text-transform: uppercase;
        }
      }
      &:after {
        font-size: 14px;
        right: 0;
        top: 4px;
      }
    }

    &.active {
      > .title {
        @include lib-icon-font-symbol(
          $_icon-font-content  : $icon-left,
          $_icon-font-position : after
        );
        &:after {
          font-size: 16px;
          right: 4px;
        }
      }
    }
  

    .item-options {
      margin-left: 0;
    }

    .fieldset {
      margin: 15px 0 $indent__m $indent__xs;

      .field {
        margin: 0 0 $indent__s;

        &.note {
          font-size: $font-size__s;
        }
      }

      .methods {
        .field {
          > .label {
            display: inline;
          }
        }
      }
    }

    .fieldset.estimate {
      > .legend,
      > .legend + br {
        @extend .abs-no-display;
      }
    }
  }
  .actions-toolbar {
    > .primary {
      button {
        @extend .abs-revert-secondary-color;
      }
    }
  }
}

//  Totals block
.cart-totals {
  @extend .abs-sidebar-totals;
  border-top: 1px solid $border-color__base;
  padding-top: $indent__s;

  .table-wrapper {
    margin-bottom: 0;
    overflow: inherit;
  }
  .grand {
    .mark,
    .amount {
      font-size: $font-size__l;
    }
  }
}

//  Products table
.cart.table-wrapper {
  th {
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: $font-weight__bold;
    color: $c-gray-medium-light;
  }
  .items {
    thead + .item {
      border-top: $border-width__base solid $border-color__base;
    }

    > .item {
      border-bottom: $border-width__base solid $border-color__base;
      position: relative;
    }
  }

  .col {
    padding-top: $indent__base;

    &.qty {
      .input-text {
        @extend .abs-input-qty;
        margin-top: -5px;
      }

      .label {
        @extend .abs-visually-hidden;
      }
    }
  }

  .item {
    &-actions td {
      padding-bottom: $indent__s;
      text-align: center;
      white-space: normal;
    }

    .col {
      &.item {
        display: block;
        min-height: 75px;
        padding: $indent__base 0 $indent__s 75px;
        position: relative;
      }
    }
  }

  .actions-toolbar {
    @extend .abs-add-clearfix;

    > .action {
      @include gn-button-secondary();
      @include lib-link-as-button();
      margin-bottom: $indent__s;
      margin-right: $indent__s;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .action {
    &.help.map {
      @extend .abs-action-button-as-link;
      font-weight: $font-weight__regular;
    }
  }

  .product {
    &-item-photo {
      display: block;
      left: 0;
      max-width: 60px;
      padding: 0;
      position: absolute;
      top: 15px;
      width: 100%;
    }

    &-item-details {
      white-space: normal;
    }

    &-item-name {
      display: inline-block;
      font-size: $font-size__l;
      font-weight: $font-weight__bold;
      margin-top: -6px;
    }
  }

  .gift-registry-name-label {
    &:after {
      content: ':';
    }
  }

  //  Product options
  .item-options {
    @extend .abs-product-options-list;
    @extend .abs-add-clearfix;
    font-size: $font-size__s;
    margin-bottom: $indent__s;
  }

  .product-item-name + .item-options {
    margin-top: $indent__s;
  }

  .product-image-wrapper {
    @extend .abs-reset-image-wrapper;
  }

  .action.configure {
    display: inline-block;
    margin: 0 0 $indent__base;
  }
}

.cart-container {
  
  .form-cart {
    @extend .abs-shopping-cart-items;
  }

  .checkout-methods-items {
    @extend .abs-reset-list;
    margin-top: $indent__base;
    text-align: center;

    .action.primary {
      @extend .abs-button-l;
      width: 100%;
    }

    .item {
      & + .item {
        margin-top: $indent__base;
      }
    }
  }
}

//  Products pager
.cart-products-toolbar {
  .toolbar-amount {
    margin: $indent__m 0 15px;
    padding: 0;
    text-align: center;
  }

  .pages {
    margin: 0 0 $indent__m;
    text-align: center;

    .items {
      > .item {
        border-bottom: 0;
      }
    }
  }
}

.cart-products-toolbar-top {
  border-bottom: $border-width__base solid $border-color__base;
}

//
//  Cross sell
//  ---------------------------------------------

.block.crosssell {
  margin-top: 70px;
}

.cart-tax-info,
.cart .cart-tax-info {
  + .cart-tax-total {
    display: block;
  }
}

.cart.table-wrapper,
.order-items.table-wrapper {
  .col.price,
  .col.qty,
  .col.subtotal,
  .col.msrp {
    text-align: right;
  }
}

//
//  Mobile
//  _____________________________________________

@include max-screen($screen__m) {
  .cart {
    &.table-wrapper {
      overflow: inherit;

      thead {
        .col {
          &:not(.item) {
            display: none;
          }
        }
      }

      .col {
        &.qty,
        &.price,
        &.subtotal,
        &.msrp {
          box-sizing: border-box;
          display: block;
          float: left;
          text-align: center;
          white-space: nowrap;
          width: 33%;

          &:before {
            content: attr(data-th) ':';
            display: block;
            font-weight: $font-weight__bold;
            padding-bottom: $indent__s;
          }
        }

        &.msrp {
          white-space: normal;
        }
      }

      .item {
        .col.item {
          padding-bottom: 0;
        }
      }
    }
  }

  .cart-container {
    .form-cart {
      @extend .abs-shopping-cart-items-mobile;
    }
  }
}

//
//  Desktop
//  _____________________________________________

@include min-screen($screen__m) {
  .cart-container {
    @include gn-checkout-cart(
      $_cart_content_width  : $cart_content_width_tablet,
      $_cart_sidebar_width  : $cart_sidebar_width_tablet
    );
    // @extend .abs-add-clearfix-desktop;
    .form-cart {
      @extend .abs-shopping-cart-items-desktop;
      width: 100%;
      .action {
        &.clear,
        &.update {
          @include gn-button-primary();
        }

        &.continue {
          @include gn-button-secondary();
          &:before {
            font-size: 14px;
            margin-right: 4px;
            line-height: 1;
          }
        }
      }
    }

    .widget {
      float: left;
    }
  }

  .cart-summary {
    .actions-toolbar {
      .column.main & {
        @extend .abs-reset-left-margin-desktop;
        > .secondary {
          float: none;
        }
      }
    }

    .block {
      .fieldset {
        .field {
          @include lib-form-field-type-revert($_type: block);
          margin: 0 0 $indent__s;
        }
      }
    }
  }

  .cart {
    &.table-wrapper {
      .items { // Google Chrome version 44.0.2403.107 m fix
        min-width: 100%;
        width: auto;
      }

      .item {
        .col {
          &.item {
            padding: $indent__base 8px $indent__s;
          }
        }

        &-actions {
          td {
            text-align: right;
          }
        }
      }

      .product {
        &-item-photo {
          display: table-cell;
          max-width: 100%;
          padding-right: $indent__base;
          position: static;
          vertical-align: top;
          width: 1%;
        }

        &-item-details {
          display: table-cell;
          vertical-align: top;
          white-space: normal;
          width: 99%;
        }
      }

      .item-actions {
        .actions-toolbar {
          @extend .abs-reset-left-margin-desktop;
          text-align: right;
        }
      }
    }

    .action {
      margin-bottom: $indent__s;
    }
  }

  //  Products pager
  .cart-products-toolbar {
    .toolbar-amount {
      line-height: 30px;
      margin: 0;
    }

    .pages {
      float: right;
      margin: 0 0 1px;

      .item {
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .cart.table-wrapper {
    .cart-products-toolbar {
      + .cart {
        thead {
          tr {
            th.col {
              padding-bottom: 7px;
              padding-top: 8px;
            }
          }
        }
      }
    }

    .cart {
      + .cart-products-toolbar {
        margin-top: $indent__m;
      }
    }
  }
}

//
// 	Desktop
//------------------------------------
@include min-screen($screen__l) {
  .cart-container {
    @include gn-checkout-cart(
      $_cart_content_width  : $cart_content_width,
      $_cart_sidebar_width  : $cart_sidebar_width
    );
  }
}
