<?php

/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Magento\Catalog\Block\Product\View\Details $block */
?>
<?php if ($detailedInfoGroup = $block->getGroupChildNames('detailed_info', 'getChildHtml')) : ?>
    <?php $layout = $block->getLayout(); ?>
    <?php foreach ($detailedInfoGroup as $name) : ?>
        <?php
        $html = $layout->renderElement($name);
        if (!trim($html)) {
            continue;
        }
        $alias = $layout->getElementAlias($name);
        $label = $block->getChildData($alias, 'title');
        ?>
        <div class="<?= /* @escapeNotVerified */ $alias ?> product-info-description accordion-wrapper" id="<?= $block->escapeHtmlAttr($alias) ?>">
            <div class="block-title title" aria-labeledby="tab-label-<?= /* @escapeNotVerified */ $alias ?>-title" data-role="collapsible" id="tab-label-<?= /* @escapeNotVerified */ $alias ?>">
                <h3><?= /* @escapeNotVerified */ $label ?></h3>
            </div>
            <div class="block-content content" id="<?= /* @escapeNotVerified */ $alias ?>" data-role="content">
                <?= /* @escapeNotVerified */ $html ?>
            </div>
        </div>
    <?php endforeach; ?>
<?php endif; ?>