//
// Copyright © Magefan (support@magefan.com). All rights reserved.
// See LICENSE.txt for license details (http://opensource.org/licenses/osl-3.0.php).

.blog-page {
  .columns {
    .sidebar-additional {
      grid-area: $area_sidebar + 1;
    }
  }
}

.post-list {
  margin: 0;

  .post-holder {
    background: transparent;
    padding: 0 0 40px 0;
    border: none;
    border-bottom: 1px solid $border-color;
    margin-bottom: 40px;

    &:hover {
      box-shadow: none;
    }
  }

  .post-header {
    .post-title {
      padding: 0 0 20px;
      max-width: 100%;
      a {
        color: $theme-text-dark;
        font-size: 4.7rem;
        font-weight: $font-weight__semibold;
      }
    }
  }
}

.blog-post-view {
  .page-title-wrapper {
    max-width: 720px;
    h1 {
      font-size: 4.7rem;
      font-weight: $font-weight__semibold;
    }
  }
}

.post-view {
  max-width: 720px;
  .post-holder {
    background: transparent;
    padding: 0 0 40px 0;
    border: none;
    margin-bottom: 40px;
  }
  .post-gallery {
    .gallery-image-hld {
      border: none;
    }
  }

  .column.main & {
    .block {
      .title {
        margin-bottom: 20px;
        strong {
          font-size: 2.3rem;
          text-transform: uppercase;
          color: lighten($theme-text-dark, 10%);
          letter-spacing: 0.3pt;
        }
      }
    }
  }
}

.post-holder {
  .post-info {
    padding-bottom: 20px;
    display: flex;
    .item {
      display: block;
      .value {
        font-style: normal;
      }
      &:after {
        content: '|';
        margin: 0 8px 0 4px;
      }
    }
    .dash {
      display: none;
    }
  }
}
.post-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.blog-widget-recent {
  .post-list {
    @include gn-product-grid(
      $_product-grid_min-width: 250px
    );
    .post-holder {
      @extend .abs-add-box-sizing ;
      padding: 10px;
      margin: 0;
      width: 100%;
      float: none;
      border: 1px solid $product_border-color;
      border-radius: $button__border-radius / 2;
      transition: all 0.2s ease-in-out;
      &:hover {
        border-color: $border-color;
        box-shadow: 0 0 10px 0 $c-white-smoke;
      }
      .post-header {
        .post-ftimg-hld {
          margin: -10px -10px 0;
        }
        .post-placeholder {
          margin: -10px -10px 0;
          padding-bottom: calc(67% + 10px);
          width: calc(100% + 20px);
          background: $border-color;
        }
        .post-title {
          min-height: 80px;
          max-width: 100%;
          padding: 10px 0;
        }
        .post-placeholder + .post-title-holder {
          margin-top: 6px;
        }
      }
      .post-content {
        .post-description {
          .post-text-hld {
            p + p {
              display: none;
            }
          }
        }
      }
      .post-footer {
        @include lib-vendor-prefix-display(flex);
        justify-content: space-between;
        .post-info {
          .post-posed-date {
            color: $text__color__muted;
            font-size: 80%;
          }
        }
      }
    }
  }
}

.widget {
  &.block-categories {
    ul {
      margin: 0;
      list-style: none;
    }
    li {
      margin: 5px 0;
    }
  }
}

//
// 	Desktop
//------------------------------------
@include min-screen($screen__m) {
  .blog-page {
    .page-main {
      margin-top: 0;
    }
  }
}
