.c-replyform,
.c-post {
  margin-left: 0;
}

.c-replyform {
  button {
    margin-top: 0;
    padding: 6px 12px;
    background: $theme-primary-color;
    border-color: $theme-primary-color;
    &:hover {
      background: $theme-primary-dark-color;
      border-color: $theme-primary-dark-color;
    }
  }
}


.c-post {
  .p-name {
    text-transform: uppercase;
    color: lighten($theme-text-dark, 10%);
    letter-spacing: 0.3pt;
  }
  .p-text {
    color: lighten($theme-text-dark, 25%);
  }
  .p-actions {
    a {
      color: $theme-primary-dark-color;
    }
  }
  .p-replies {
    padding: 10px 0 10px 10px;
  }
}
