<!-- Temp file for dynamic fallback blocks -->
<?php

$content = $block->getChildHtml('footer_col_4');
?>

<?php if($content !== '') : ?>

  <?php echo $content; ?>

<?php else : ?>

  <?php echo $content; ?>
  <h3>Lets stay in touch</h3>
  <div>
    <i class="fal fa-phone"></i>
    <a href="http://" target="_blank" rel="noopener noreferrer">link</a>
  </div>
  <div>
    <i class="fal fa-envelope"></i>
    <a href="http://" target="_blank" rel="noopener noreferrer">link</a>
  </div>

<?php endif; ?>