.usp-wrapper {
  background: $toolbar__background-color;
  .usps {
    @include lib-vendor-prefix-display(flex);
    @include lib-vendor-prefix-flex-wrap(wrap);
    @include lib-vendor-box-align(center);
    justify-content: space-between;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: $layout__max-width;
    padding: $indent__base $layout-indent__width;
    width: auto;
    .usp {
      font-size: 1.7rem;
      p {
        margin-bottom: 0;
      }
    }
  }
}

@include min-screen($screen__m) {
  .nav-sections + .usp-wrapper {
    margin-top: -25px;
    margin-bottom: 25px;
  }
}
