.sidebar-toggle-button,
.sidebar-toggle-close {
  display: none;
}

.sidebar-main {
  position: relative;
}

@include max-screen($screen__m) {
  .sidebar-toggle-button {
    display: block;
    position: absolute;
    left: calc(-50px - 16px);
    top: 190px;
    width: 50px;
    height: 50px;
    background: $c-white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: $button__border-radius 0 0 $button__border-radius;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    &:hover {
      cursor: pointer;
    }
  }
  .sidebar-toggle-close {
    display: block;
    position: absolute;
    right: 8px;
    top: 8px;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    font-size: 20px;
    &:hover {
      cursor: pointer;
    }
  }

  .sidebar-main {
    position: fixed;
    z-index: 100;
    background: $c-white;
    box-sizing: border-box;
    padding: 40px 15px 15px;
    width: 100vw;
    right: calc(-100vw - 16px);
    top: 0;
    height: 100vh;
    transition: all 0.2s ease-in-out;
    &.sidebar-open {
      right: 0;
      overflow-y: scroll;
    }
  }
}
