$toolbar-mode-icon-font-size: 18px;
$toolbar-element-background : $toolbar__background-color !default;

.page-products {
  .columns {
    position: relative;
  }
}

.toolbar {
  @extend .abs-add-clearfix;
  min-height: 32px;
  margin-bottom: 12px;

  .products.wrapper ~ & {
    margin-top: 12px;
  }
}

.toolbar-amount {
  display: block;
  line-height: $toolbar-mode-icon-font-size + 14;
  margin: 0;

  .products.wrapper ~ .toolbar & {
    display: none;
  }
}

.toolbar-products {
  @extend .abs-add-clearfix;
  padding: $indent__s;
  text-align: center;
  background: $toolbar-element-background;
  border-radius: $button__border-radius / 2;
  position: relative;

  .pages {
    display: none;

    .products.wrapper ~ & {
      display: block;
    }
  }

  .limiter {
    display: none;

    .control {
      display: inline-block;
    }
  }
}

.sorter {
  padding: 2px 0 0;

  .products.wrapper ~ .toolbar & {
    display: none;
  }
}

.sorter-options {
  margin: 0 0 0 7px;
  width: auto;
}

.sorter-action {
  vertical-align: top;
  @include lib-icon-font(
    $icon-arrow-up,
    $_icon-font-size       : $toolbar-mode-icon-font-size,
    $_icon-font-line-height: 32px,
    $_icon-font-color      : $header-icons-color,
    $_icon-font-color-hover: $header-icons-color-hover,
    $_icon-font-text-hide  : true
  );
  &:before {
    font-weight: $font-weight__bold;
  }
}

.sorter {
  .sort-desc {
    &:before {
      content: $icon-arrow-down;
    }
  }
}

.modes {
  display: none;
}

.limiter-options {
  margin: 0 5px 0 7px;
  width: auto;
}

.limiter-label {
  font-weight: 400;
}

.limiter {
  .page-products .toolbar & {
    display: none;
  }
}

//
//  Desktop
//  _____________________________________________

@include min-screen($screen__m) {
  .page-products {
    .columns {
      padding-top: 0;
      position: relative;
    }
  }

  .toolbar-amount {
    float: left;
  }

  .sorter {
    float: right;
  }

  .modes {
    display: block;
    float: left;
    margin-right: $indent__base;

    .products.wrapper ~ .toolbar & {
      display: none;
    }
  }

  .modes-label {
    @extend .abs-visually-hidden-desktop;
  }

  .modes-mode {
    color: $text__color__muted;
    border: 1px solid $border-color__base;
    border-radius: $button__border-radius / 4;
    margin-right: 4px;
    float: left;
    font-weight: $font-weight__bold;
    line-height: 30px;
    padding: 0 8px;
    text-align: center;
    background: $page__background-color;
    @include lib-icon-font(
      $icon-grid,
      $_icon-font-size:           $toolbar-mode-icon-font-size,
      $_icon-font-text-hide:      true,
      $_icon-font-color:          $text__color__muted,
      $_icon-font-color-hover:    $text__color__muted,
      $_icon-font-display:        block,
      $_icon-font-vertical-align: top
    );
    &:before {
      font-weight: $font-weight__bold;
    }

    &:not(.active) {
      &:hover {
        color: $text__color__muted;
        background: darken($page__background-color, 4%);
      }
    }

    &:last-child {
      border-right: 1px solid $border-color__base;
    }

    &.active {
      border-color: $theme-primary-color;
      color: $theme-primary-color;

      &:before {
        color: $theme-primary-color;
      }
    }
  }

  .mode-list {
    @include lib-icon-font-symbol($icon-list);
  }

  .limiter {
    float: right;
    position: absolute;
    right: 10px;
    top: 11px;

    .products.wrapper ~ .toolbar & {
      display: block;
    }
  }
}
