<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
// @codingStandardsIgnoreFile

use Magento\CatalogSearch\Block\Result;

/** These changes need to valid applying filters and configuration before search process is started. */

/** @var $block  Result*/
$productList = $block->getProductListHtml();
?>
<?php if ($block->getResultCount()) : ?>
    <?= /* @noEscape */ $block->getChildHtml('tagged_product_list_rss_link') ?>
    <div class="search results">
        <?php if ($messages = $block->getNoteMessages()) : ?>
            <div class="message notice">
                <div>
                    <?php foreach ($messages as $message) : ?>
                        <?= /* @noEscape */ $message ?><br />
                    <?php endforeach; ?>
                </div>
            </div>
        <?php endif; ?>
        <?= /* @noEscape */ $productList ?>
    </div>
<?php else : ?>

    <div class="message notice">
        <div>
            <?= $block->escapeHtml($block->getNoResultText() ? $block->getNoResultText() : __('Your search returned no results.')) ?>
            <?= /* @noEscape */ $block->getAdditionalHtml() ?>
            <?php if ($messages = $block->getNoteMessages()) : ?>
                <?php foreach ($messages as $message) : ?>
                    <br /><?= /* @noEscape */ $message ?>
                <?php endforeach; ?>
            <?php endif; ?>
        </div>
    </div>
<?php endif; ?>