.nav-sections,
.usp-wrapper {
  & + .owl-carousel {
    margin-top: -25px;
  }
}

.owl-theme {
  .owl-nav {
    position: absolute;
    top: 45%;
    left: 15px;
    right: 15px;
    margin-top: 0;
    button {
      &.owl-prev,
      &.owl-next {
        color: $c-gray-light;
        font-size: 3rem;
        transition: all 0.2s ease-in-out;
        &:hover {
          background: none;
          color: $theme-text-light;
        }
      }
      &.owl-prev {
        float: left;
      }
      &.owl-next {
        float: right;
      }
    }
  }
}

.column.main {
  .owl-carousel {
    .owl-stage-outer {
      width: calc(100vw - 30px);
      max-width: 1240px;
    }
  }
}
