$tocart-input-size: $button__line-height__l + 28px;

.product-info-main {
  .box-tocart {
    .field.qty {
      .qty-changer {
        display: inline-block;
        border: 1px solid $color-gray-middle2;
        border-radius: $input-qty__border-radius;
        @include lib-vendor-box-sizing();
        overflow: hidden;

        .input-text.qty {
          height: $tocart-input-size;
          border: none;
          &:not([disabled]):focus {
            box-shadow: none;
          }
        }

        .qty-button {
          height: $tocart-input-size;
          border: none;
          background: none;
          line-height: 1;
          border-radius: 0;
          vertical-align: top;
          font-size: 1.6rem;
          font-weight: $font-weight__bold;
          color: $theme-secondary-color;

          &:hover {
            background: $theme-secondary-color;
            color: $theme-text-light;
          }

          &:active {
            background: $theme-secondary-dark-color;
            color: $theme-text-light;
          }
        }
      }
    }
  }
}
@include min-screen($screen__m) { 
  .product-info-main {
    .box-tocart {
      .field.qty {
        .qty-changer {
          display: block;
        }
      }
    }
  }
}
