<?php
/**
 * Copyright © Magefan (support@magefan.com). All rights reserved.
 * See LICENSE.txt for license details (http://opensource.org/licenses/osl-3.0.php).
 *
 * Glory to Ukraine! Glory to the heroes!
 */
?>
<?php
/**
 * Blog recent posts widget
 *
 * @var $block \Magefan\Blog\Block\Widget\Recent
 */
?>

<?php
$_postCollection = $block->getPostCollection();
?>
<?php if ($_postCollection->count()) { ?>
<div class="post-list-wrapper blog-widget-recent">
    <h2 class="title"><?php echo $block->escapeHtml($block->getTitle()) ?></h2>
    <ul class="post-list clearfix">
        <?php foreach ($_postCollection as $_post) { ?>
        <?php
        $_postUrl = $_post->getPostUrl();
        $_postName = $block->escapeHtml($_post->getTitle(), null, true);
        ?>
        <li class="post-holder post-holder-<?php echo $_post->getId() ?>">
            <div class="post-header">
                <?php if ($featuredImage = $_post->getFeaturedImage()) { ?>
                <div class="post-ftimg-hld">
                    <a href="<?php echo $_postUrl ?>" title="<?php echo $_postName ?>">
                        <img src="<?php echo $featuredImage ?>" alt="<?php echo $_postName ?>" />
                    </a>
                </div>
                <?php } else {?>
                    <div class="post-placeholder"></div>
                <?php } ?>
                <div class="post-title-holder clearfix">
                    <div class="post-title">
                        <a class="post-item-link" href="<?php echo $_postUrl ?>">
                            <?php echo $_postName; ?>
                        </a>
                    </div>
                </div>
            </div>

            <div class="post-content">
                <div class="post-description clearfix">
                    <div class="post-text-hld clearfix">
                        <?php echo $block->getShorContent($_post) ?>
                    </div>
                </div>
            </div>
            <div class="post-footer">
                <a class="post-read-more" href="<?php echo $_postUrl ?>" title="<?php echo $_postName ?>">
                    <?php echo __('Read more &#187;') ?>
                </a>
                <div class="post-info clear">
                    <div class="item post-posed-date">
                        <span class="value"><?php echo $_post->getPublishDate('F d, Y') ?></span>
                    </div>
                </div>
            </div>
        </li>

        <?php 
    } ?>
    </ul>
</div>
<?php 
} ?> 