<?php
/**
 * @var Magento\Framework\View\Element\Template $block
 * @var GetNoticed\QtyChanger\Block\Cart\QtyChanger    $viewModel
 */
$viewModel = $block->getData('view_model');
?>
<div class="control qty-change"
     id="<?php echo $viewModel->getContainerId() ?>"
     data-bind="scope: 'qty_change_<?= $viewModel->getProduct()->getId() ?>'"
    >
    <input type="number"
           name="<?= $viewModel->getInputName() ?>"
           id="<?= $viewModel->getInputId() ?>"
           maxlength="12"
           data-validate="<?= $viewModel->getQtyValidators() ?>"
           data-bind="value: qty, valueUpdate: 'afterkeydown'"
           class="input-text qty"
           title="<?= __('Qty') ?>"/>
    <button class="qty-plus" data-bind="click: increaseQty"><i class="fa fa-angle-up"></i></button>
    <button class="qty-minus" data-bind="click: decreaseQty"><i class="fa fa-angle-down"></i></button>
</div>

<script type="text/x-magento-init">
{
   "*": {
       "Magento_Ui/js/core/app": {
           "components": {
               "qty_change_<?= $viewModel->getProduct()->getId() ?>": {
                   "component": "GetNoticed_QtyChanger/js/qty_change",
                   "defaultQty": <?= $viewModel->getQty(); ?>
               }
           }
       }
   }
}
</script>