<?php
/**
 * @var Magento\Framework\View\Element\Template $block
 * @var GetNoticed\QtyChanger\Block\Cart\QtyChanger    $viewModel
 */
$viewModel = $block->getData('view_model');
?>
<div class="field qty">
    <div class="control qty-changer"
        id="<?php echo $viewModel->getContainerId() ?>"
        data-bind="scope: 'qty_change_<?= $viewModel->getProduct()->getId() ?>'"
        >
        <button class="qty-button qty-minus" data-bind="click: decreaseQty">-</button>
        <input type="number"
            name="<?= $viewModel->getInputName() ?>"
            id="<?= $viewModel->getInputId() ?>"
            maxlength="12"
            data-validate="<?= $viewModel->getQtyValidators() ?>"
            data-bind="value: qty, valueUpdate: 'afterkeydown'"
            class="input-text qty"
            title="<?= __('Qty') ?>"/>
        <button class="qty-button qty-plus" data-bind="click: increaseQty">+</button>
    </div>
</div>

<script type="text/x-magento-init">
{
   "*": {
       "Magento_Ui/js/core/app": {
           "components": {
               "qty_change_<?= $viewModel->getProduct()->getId() ?>": {
                   "component": "GetNoticed_QtyChanger/js/qty_change",
                   "defaultQty": <?= $viewModel->getQty(); ?>
               }
           }
       }
   }
}
</script>