//
//  Theme variables
//  _____________________________________________

//  Messages
$message-global-note__background           : $color-yellow-light2;
$message-global-note__border-color         : $color-yellow-light3;
$message-global-note__color                : $text__color;

$message-global-note-link__color           : $link__color;
$message-global-note-link__color-hover     : $link__hover__color;
$message-global-note-link__color-active    : $link__active__color;

$message-global-caution__background        : $color-red9;
$message-global-caution__border-color      : none;
$message-global-caution__color             : $color-white;

$message-global-caution-link__color        : $link__color;
$message-global-caution-link__color-hover  : $link__hover__color;
$message-global-caution-link__color-active : $link__active__color;

//  Header
$header__background-color                  : $header__background-color;
$header-icons-color                        : $color-gray56;
$header-icons-color-hover                  : $color-gray20;

$panel-wrapper__background-color           : $panel__background-color;
$panel-wrapper__color                      : $c-white;

$addto-color                               : $text__color__muted;
$addto-hover-color                         : $primary__color;

$minicart-icons-color                      : $header-icons-color;
$minicart-icons-color-hover                : $header-icons-color-hover;

$button__shadow                            : inset 0 2px 1px rgba(0, 0, 0, 0.12);

$h1__margin-bottom__desktop                : $indent__xl;


body {
  @include lib-css(background-color, $page__background-color);
}

//
//  Header
//  ---------------------------------------------

.page-header {
  @include lib-css(background-color, $header__background-color);
  border-bottom: 1px solid $border-color__base;
  margin-bottom: $indent__base;
}

.header {
  &.content {
    @extend .abs-add-clearfix;
    padding-top: $indent__s;
    position: relative;
  }
}

.logo {
  float: left;
  margin: $indent__s 0 $indent__s 20vw;
  max-width: 50%;
  position: relative;
  z-index: 5;

  img {
    display: block;
  }

  .page-print & {
    float: none;
  }
}

.page-main {
  > .page-title-wrapper {
    .page-title + .action {
      margin-top: $indent__l;
    }
  }
}

.action.skip {
  &:not(:focus) {
    @extend .abs-visually-hidden;
  }

  &:focus {
    @include lib-css(background, $color-gray94);
    @include lib-css(padding, $indent__s);
    box-sizing: border-box;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 15;
  }
}

.action-skip-wrapper {
  height: 0;
  position: relative;
}

//
//  Global notice
//  ---------------------------------------------

.message.global {
  p {
    margin: 0;
  }

  &.noscript,
  &.cookie {
    @include lib-message($_message-type: global-note);
    margin: 0;
  }

  &.cookie {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 3;

    .actions {
      margin-top: $indent__s;
    }
  }

  &.demo {
    @include lib-message($_message-type: global-caution);
    margin-bottom: 0;
    text-align: center;
  }
}

//
//  Footer
//  ---------------------------------------------

.page-footer {
  @include lib-css(background-color, $footer__background-color);
  margin-top: auto;
}

.block-social-links {
  p {
    margin: 0;
  }
}
.footer-bottom-content-wrapper {
  p {
    margin: 0;
  }
}

.footer {
  &-upper,
  &.content,
  &-bottom {
    overflow: auto;
  }
  &-upper-wrapper,
  &.content,
  &-bottom-wrapper {
    @include lib-vendor-prefix-display(flex);
    @include lib-vendor-prefix-flex-wrap(wrap);
    @include lib-vendor-box-align(center);
    justify-content: space-between;
    padding-top: $indent__base;
    padding-bottom: $indent__base;
  }
  &-upper {
    background: $footer-upper__background-color;
  }
  &.content {
    padding-bottom: $indent__xl;
    padding-top: $indent__xl;
    @include lib-vendor-box-align(flex-start);

    ul {
      @extend .abs-reset-list;
    }

    .links {
      > li {
        margin: 0 0 8px;
      }
    }

    .switcher-store {
      margin: 0 0 30px;
    }
    .footer-block {
      width: 100%;
      p {
        margin: 0;
      }
      
      h3,
      img {
        margin-bottom: $indent__base;
      }
      h3 {
        color: lighten($theme-text-dark, 10%);
        font-weight: $font-weight__semibold;
        text-transform: uppercase;
      }
      address {
        line-height: 1.6;
      }
      ul {
        > li {
          line-height: 2;
        }
      }
      div {
        line-height: 2;
      }
      a,
      a:visited {
        color: $theme-text-dark;
        &:hover {
          color: $theme-primary-color;
        }
      }
    }
  }

  .copyright,
  .bugs {
    display: block;
    margin: 20px 0 0;
  }
  &-bottom {
    background: $footer-bottom__background-color;
  }
}

.page-header,
.page-footer {
  .switcher {
    margin-right: 10px;

    .options {
      @include lib-dropdown(
        $_dropdown-actions-padding            : 0,
        $_dropdown-list-item-padding          : 0,
        $_dropdown-toggle-icon-content        : $icon-down,
        $_dropdown-toggle-active-icon-content : $icon-up,
        $_icon-font-text-hide                 : true,
        $_icon-font-size                      : 22px,
        $_icon-font-line-height               : 22px,
        $_dropdown-list-min-width             : 160px
      );

      ul.dropdown {
        a {
          display: block;
          padding: 8px;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }

    li {
      font-size: $font-size__s;
      margin: 0;
    }

    .label {
      @extend .abs-visually-hidden;
    }

    strong {
      font-weight: $font-weight__regular;
    }
  }
}

//
//  Widgets
//  ---------------------------------------------

.sidebar {
  .widget.block:not(:last-child),
  .widget:not(:last-child) {
    @extend .abs-margin-for-blocks-and-widgets;
  }
}

.widget {
  clear: both;

  .block-title {
    @extend .abs-block-title;
  }
}

.page-header,
.page-footer {
  .widget.block {
    @include lib-css(margin, $indent__base 0);
  }
}

.no-display {
  @extend .abs-no-display;
}

//
//  Calendar
//  ---------------------------------------------

.ui-datepicker {
  td {
    padding: 0;
  }
}

//
//  Desktop
//  _____________________________________________

@include min-screen($screen__m) {

  html,
  body {
    height: 100%; // Stretch screen area for sticky footer
  }

  .page-wrapper {
    @include lib-vendor-prefix-display(flex);
    @include lib-vendor-prefix-flex-direction(column);
    min-height: 100%; // Stretch content area for sticky footer

    > .breadcrumbs,
    > .top-container,
    > .widget {
      box-sizing: border-box;
      width: 100%;
    }

    .ie10 &,
    .ie11 & {
      height: 100%;
      display: block;
    }
  }

  .navigation ul {
    padding: 0 8px;
  }

  .header {
    &.panel {
      > .header.links {
        float: right;
        font-size: 0;
        @include lib-list-inline();
        margin-left: auto;

        > li {
          font-size: $font-size__base;
          margin: 0;
          padding: 0;
          border-left: 1px solid $border-color;

          &.welcome,
          a {
            line-height: 1.4;
            color: lighten($theme-text-dark, 40%);
            padding: $indent__s $indent__base;
            display: block;
            background: $c-white;
            transition: all 0.2s ease-in-out;
            &:hover {
              background: $c-white-smoke;
              text-decoration: none;
            }
            &.my-account {
              @include lib-icon-font(
                $_icon-font-content     : $icon-my-account,
                $_icon-font-color       : $theme-primary-color,      
                $_icon-font-size        : 14px,
                $_icon-font-line-height : 1,
                $_icon-font-text-hide   : false,
                $_icon-font-position    : before,
                $_icon-font-display     : block,
                $_icon-font-margin      : -2px 6px 0 0
              );
            }
            &.account {
              @include lib-icon-font(
                $_icon-font-content     : $icon-account,
                $_icon-font-color       : $theme-primary-color,      
                $_icon-font-size        : 14px,
                $_icon-font-line-height : 1,
                $_icon-font-text-hide   : false,
                $_icon-font-position    : before,
                $_icon-font-display     : block,
                $_icon-font-margin      : -2px 6px 0 0
              );
            }
          }

          &.authorization-link {
            a {
              @include lib-icon-font(
                $_icon-font-content     : $icon-sign-in,
                $_icon-font-color       : $theme-primary-color,      
                $_icon-font-size        : 14px,
                $_icon-font-line-height : 1,
                $_icon-font-text-hide   : false,
                $_icon-font-position    : before,
                $_icon-font-display     : block,
                $_icon-font-margin      : -2px 6px 0 0
              );
            }
          }

          &.wishlist {
            a {
              @include lib-icon-font(
                $_icon-font-content     : $icon-wishlist-full,
                $_icon-font-color       : $theme-primary-color,      
                $_icon-font-size        : 14px,
                $_icon-font-line-height : 1,
                $_icon-font-text-hide   : false,
                $_icon-font-position    : before,
                $_icon-font-display     : block,
                $_icon-font-margin      : -2px 6px 0 0
              );
            }
          }

          &.welcome {
            a {
              @include lib-css(padding-left, $indent__xs);
            }
          }
        }
      }
    }

    &.content {
      @extend .abs-add-clearfix-desktop;
      padding: $indent__l $indent__base;
    }
  }

  .page-header {
    border: 0;
    margin-bottom: 0;

    .panel.wrapper {
      @include lib-css(background, $panel-wrapper__background-color);
      color: $panel-wrapper__color;
      border-bottom: 1px solid $border-color;
    }

    .header.panel {
      @extend .abs-add-clearfix-desktop;
      padding: 0;
    }

    .switcher {
      display: inline-block;
    }
  }

  .page-main {
    > .page-title-wrapper {
      .page-title {
        display: inline-block;
        margin-bottom: 20px;
      }

      .page-title + .action {
        float: right;
        margin-top: $indent__base;
      }
    }
  }

  .logo {
    margin: 0;
    img {
      max-height: 50px;
    }
  }

  .footer {
    &.content {
      .links,
      .footer-block {
        width: 20%;
        
        h3,
        img {
          margin-bottom: $indent__base;
        }

        h3 {
          margin-top: 0;
        }
      }
      .block {
        float: right;
      }

      .links {
        display: inline-block;
        vertical-align: top;
      }

      .switcher.store {
        display: inline-block;
        padding-right: 50px;
        vertical-align: top;
      }
    }

    .copyright {
      @extend .abs-add-clearfix-desktop;
    }
  }
}

@import 'module/social-buttons';
@import 'module/sticky-header';
