<?php

/**
 * @var \Magento\Framework\View\Element\Template        $block
 * @var \GetNoticed\OwlSliderBlocks\ViewModel\OwlSlider $viewModel
 */
$viewModel = $block->getData('view_model');
?>
<div class="owl-slider-wrapper">
    <div class="owl-carousel owl-theme" data-mage-init='{"GetNoticed_OwlSliderBlocks/js/main_slider": {}}'>
        <?php echo $viewModel->renderBlockHtml($block->getData('cms_block')); ?>
    </div>
</div>