// Layout
.contact-columns {
  @include gn-grid-2columns($_side : right);
}

// To reset sample data styles
.column:not(.sidebar-main),
.column:not(.sidebar-additional) {
  .form.contact {
    width: 100% !important;
    float: none !important;
  }
}

// Google Hero map
.contact-maps-wrapper {
  margin-top: -25px;
  
  iframe {
    width: 100vw;
    height: 400px;
  }
}

// Standard form reset
.form.contact {
  .fieldset {
    > .field {
      margin: 0;
      &:not(.choice) {
        > .label {
          float: none;
          width: auto;
          padding: 0;
          text-align: initial;
          font-weight: $font-weight__semibold;
        }
        > .control {
          float: none;
          width: auto;
        }
      }
    }
  }
}

.column {
  &:not(.sidebar-additional),
  &:not(.sidebar-main) {
    form {
      .actions-toolbar {
        margin: 0;
      }
    }
  }
}

// styling for theme
.form.contact {
  .fieldset {
    margin-bottom: 25px;
    .two-columns {
      @include lib-vendor-prefix-display(flex);
      @include lib-vendor-prefix-flex-wrap(wrap);
      justify-content: space-between;
      > .field {
        width: 100%;
        margin-bottom: 20px;
      }
    }
    > .field {
      width: 100%;
      margin-bottom: 20px;
    }

    label.label {
      font-size: 1.5rem;
      font-weight: $font-weight__semibold;
      margin-bottom: 11px;
      display: inline-block;
    }

    input,
    textarea {
      border-color: $border-color;
      transition: all 0.3s ease-in-out;
      &:not([disabled]):focus {
        box-shadow: none;
        border-color: $theme-primary-color;
      }
    }

    input {
      height: $input-text__height + 8;
    }
  }

  .actions-toolbar {
    text-align: right;
    .primary {
      float: none;
    }
  }
}

//
//  Desktop
//  _____________________________________________

@include min-screen($screen__m) {
  .form.contact {
    .fieldset {
      .two-columns {
        > .field {
          width: 49%;
        }
      }
    }
  }
}


