@include min-screen($screen__m) {
  .main_menu {
    display: block;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: $layout__max-width;
    width: auto;

    &__list {
      margin: 0;
      padding: 0;
    }
    &__item {
      margin: 0;
      display: inline-block;

      &--parent {
        position: relative;

        > .main_menu__link {
          @include lib-icon-font(
            $_icon-font-content         : $icon-down,
            $_icon-font-size            : 14px,
            $_icon-font-margin          : 0 0 0 6px,
            $_icon-font-line-height     : 1,
            $_icon-font-position        : after,
            $_icon-font-vertical-align  : middle,
            $_icon-font-display         : inline-block
          );
        }

        &:hover {
          .main_menu {
            &__inner-list {
              display: block;
              &--level2 {
                display: none;
              }
            }

            &__link {
              color: $nav-item-color-hover;
              background: $nav-item-background-hover;
              text-decoration: none;
            }
          }
        }
      }
    }
    &__link,
    &__link:visited {
      display: inline-flex;
      padding: 14px 20px;
      font-weight: $font-weight__bold;
      color: $nav-item-color;
      background: $nav-item-background;

      &:hover {
        color: $nav-item-color-hover;
        background: $nav-item-background-hover;
        text-decoration: none;
      }
      &.current {
        color: $nav-item-color-hover;
      }
    }

    &__inner {
      &-list {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background: $submenu-background-color;
        min-width: 230px;
        padding: 0;

        &--level2 {
          display: none;
          left: 100%;
          top: 0;
        }
      }
      &-item {
        margin: 0;
        &--all {
          display: none;
        }
        &--parent {
          > .main_menu__inner-link {
            @include lib-icon-font(
              $_icon-font-content         : $icon-right,
              $_icon-font-size            : 14px,
              $_icon-font-margin          : 0 0 0 6px,
              $_icon-font-position        : after,
              $_icon-font-vertical-align  : middle,
              $_icon-font-display         : flex
            );
          }
          &:hover {
            .main_menu {
              &__inner-list {
                &--level2 {
                  display: block;
                }
              }

            }
            > .main_menu__inner-link {
              color: $submenu-item-color-hover;
              background: $submenu-item-background-hover;
              text-decoration: none;
            }
          }
        }
      }
      &-link,
      &-link:visited {
        display: flex;
        justify-content: space-between;
        padding: 8px 20px;
        font-weight: $font-weight__bold;
        color: $submenu-item-color;
        background: $submenu-item-background;
        &:hover {
          color: $submenu-item-color-hover;
          background: $submenu-item-background-hover;
          text-decoration: none;
        }
        &.current {
          color: $nav-item-color-hover;
        }
      }
    }
  }
}
